@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
}

/*Colors*/
/*Primary*/
/*Neutral*/
div {
  border: 0px solid #000;
}

.container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-image: url("images/bg-hero-desktop.svg");
  background-color: #ebfbff;
  padding: 20px;
}

.container header .logo-nav, .container header .nav-bar {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 70px;
}

.container header .logo-nav img {
  width: 20%;
  margin-top: 20px;
  margin-left: 60px;
}

.container header .nav-bar p {
  text-align: right;
  margin-right: 60px;
  margin-top: 20px;
}

.container header .nav-bar p button {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 5px;
  border-radius: 25px;
  width: 20%;
  border: 1px solid #fff;
  -webkit-box-shadow: 5px 10px 28px -10px #888888;
          box-shadow: 5px 10px 28px -10px #888888;
}

.container header .header-main {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.container header .header-main h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-left: 60px;
  margin-top: 150px;
  color: #00252e;
}

.container header .header-main p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-left: 60px;
  color: #00252e;
  font-size: 0.85rem;
  margin-top: -20px;
}

.container header .header-main button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  background-color: #ff52bf;
  color: #fff;
  width: 60%;
  margin-left: 60px;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #ff52bf;
}

.container header .header-img {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.container header .header-img img {
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}

.container main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.container main section {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border: 0px solid #000;
  margin-top: 40px;
}

.container main section .inner-divs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 90%;
  min-height: 100px;
  margin: 0 auto;
  border-radius: 20px;
  -webkit-box-shadow: 5px 10px 28px -10px #888888;
          box-shadow: 5px 10px 28px -10px #888888;
}

.container main section .inner-divs .inner-text, .container main section .inner-divs .inner-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 20px;
  border-radius: 20px;
}

.container main section .inner-divs .inner-text h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #00252e;
  margin-left: 30px;
  margin-top: 60px;
  font-size: 2.2rem;
}

.container main section .inner-divs .inner-text p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #00252e;
  font-size: 1rem;
  margin-left: 30px;
  margin-top: -20px;
}

.container main section .inner-divs .inner-img img {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.container main .first-section {
  margin-top: 80px;
}

.container footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.container footer .community {
  width: 40%;
  min-height: 100px;
  position: absolute;
  z-index: 1;
  margin-left: 32%;
  margin-top: 90px;
  background-color: #fff;
  border: 1px solid #fff;
  -webkit-box-shadow: 5px 10px 28px -20px #888888;
          box-shadow: 5px 10px 28px -20px #888888;
  border-radius: 10px;
  padding: 20px;
}

.container footer .community h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  color: #00252e;
  font-size: 1.25rem;
}

.container footer .community button {
  width: 40%;
  padding: 10px;
  color: #fff;
  display: block;
  margin: 0 auto;
  background-color: #ff52bf;
  border-radius: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  border: 1px solid #ff52bf;
}

.container footer .footer {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-top: 150px;
  min-height: 100px;
  background-color: #00252e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.container footer .footer .footer-items, .container footer .footer .footer-links, .container footer .footer .social-media {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-top: 100px;
}

.container footer .footer .footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.container footer .footer .footer-items .img {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.container footer .footer .footer-items .img .image-logo {
  width: 50%;
  background-color: #fff;
  display: block;
  margin-top: 10px;
  margin-left: 60px;
}

.container footer .footer .footer-items .icons {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.container footer .footer .footer-items .icons img {
  display: block;
  margin-left: 60px;
  margin-top: 10px;
}

.container footer .footer .footer-items .text {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.container footer .footer .footer-items .text p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
  color: #ebfbff;
  margin-top: 10px;
}

.container footer .footer .footer-links a {
  text-decoration: none;
  color: #ebfbff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  display: block;
  font-size: 0.85rem;
  text-align: center;
  margin-top: 20px;
}

.container footer .footer .footer-links a:first-child {
  margin-top: 40px;
}

.container footer .footer .social-media p {
  margin-top: 40px;
}

.container footer .footer .social-media p svg {
  margin-left: 10px;
}

.container footer .footer .social-media span {
  display: block;
  margin-left: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
  color: #ebfbff;
  margin-top: 120px;
}
/*# sourceMappingURL=index.css.map */